@page
@model PlanszowkaPlusPlus.Pages.Rentals.IndexModel

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/site.css" />

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rent[0].RentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rent[0].ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rent[0].Game)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rent[0].Member)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rent) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}



    </tbody>
</table>

<div>
    <div>
        <form method="get" action="/Index" class="d-inline">
            <button type="submit" class="btn btn-secondary">Main page</button>
        </form>
    </div>
    <div>
        @if (User.IsInRole("Admin"))
        {
            <a href="/AdminDashboard" class="btn btn-secondary">Admin Dashboard</a>
        }
    </div>
</div>