@page
@model PlanszowkaPlusPlus.Pages.Reservations.ConfirmModel
@{
    ViewData["Title"] = "Potwierdź rezerwację";
}
<h2>Potwierdzenie rezerwacji</h2>

@if (Model.Request != null)
{
    <dl class="row">
        <dt class="col-sm-3">Imię i nazwisko:</dt><dd class="col-sm-9">@Model.ReservationRequest.FullName</dd>
        <dt class="col-sm-3">Email:</dt><dd class="col-sm-9">@Model.ReservationRequest.Email</dd>
        <dt class="col-sm-3">Data:</dt><dd class="col-sm-9">@Model.ReservationRequest.Date.ToShortDateString()</dd>
        <dt class="col-sm-3">Godzina:</dt><dd class="col-sm-9">@Model.ReservationRequest.TimeStart - @Model.ReservationRequest.TimeEnd</dd>
        <dt class="col-sm-3">Stolik:</dt><dd class="col-sm-9">@Model.ReservationRequest.TableId</dd>
    </dl>

    <form method="post">
        <button type="submit" name="action" value="confirm" class="btn btn-success">Potwierdź</button>
        <button type="submit" name="action" value="reject" class="btn btn-danger">Odrzuć</button>
    </form>
}
else
{
    <p class="text-danger">Brak danych do potwierdzenia.</p>
}