@page
@model PlanszowkaPlusPlus.Pages.Reservations.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/site.css" />

<div style="position: absolute; top: 10px; right: 10px;"></div>
    <a href="/Index">
        <img src="~/planszowkaPlusPlusLogov2.png" alt="Logo" style="height: 50px;" />
    </a>
</div>

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.ReservationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.ReservationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.TimeStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.TimeStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.TimeEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.TimeEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.GameTable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.GameTable.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Member)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Member.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.IsArchived)
        </dt>
        <dd class="col-sm-10">
            @if(Model.Reservation.IsArchived)
            {
                <p>Yes</p>
            }
            else
            {   
                <p>No</p>
            }
        </dd>
    </dl>
</div>
<div>
   
    @if(Model.Reservation.IsArchived)
    {
        <!--TODO: possibly add a "un_archive"" button here-->
        <a asp-page="./Archived" class="btn btn-secondary">Back to Archived List</a>
    }
    else
    {
        <a asp-page="./Edit" asp-route-id="@Model.Reservation.Id" class="btn btn-primary">Edit</a> <span> | </span>
        <a asp-page="./Index" class="btn btn-secondary">Back to Reservations List</a>
    }
</div>
