@page
@model PlanszowkaPlusPlus.Pages.Reservations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/site.css" />

<h1>Reservations</h1>

<form method="get">
    <div class="form-group">
        <label for="filter-date">Filter by Reservation Date:</label>
        <input type="date" id="filter-date" name="FilterDate" class="form-control"
               value="@Model.FilterDate?.ToString("yyyy-MM-dd")" />
    </div>
    <button type="submit" class="btn btn-primary">Apply Filters</button>
    <a asp-page="./Index" class="btn btn-secondary">Clear Filters</a>
</form>

<p>
    <a href="/Reservations/Create" class="btn btn-primary">Create New</a>
    <a href="/Reservations/Archived" class="btn btn-secondary">Archived</a>
    <a href="/Reservations/Confirm" class="btn btn-secondary">Confirm Reservations</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Reservation Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Table Number</th>
            <th>Member Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reservation)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ReservationDate)</td>
                <td>@Html.DisplayFor(modelItem => item.TimeStart)</td>
                <td>@Html.DisplayFor(modelItem => item.TimeEnd)</td>
                <td>@item.GameTable?.Number</td>
                <td>@item.Member?.Name</td>
                <td>
                    <a asp-page="/Reservations/Archive" asp-route-id="@item.Id">Archive</a> |
                    <a asp-page="/Reservations/Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="/Reservations/Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="/Reservations/Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <div>
        <form method="get" action="/Index" class="d-inline">
            <button type="submit" class="btn btn-secondary">Main Page</button>
        </form>
    </div>
    <div>
        <a asp-page="/Reservations/Confirm">Reservation requests</a>
    </div>
</div>
