@page
@model PlanszowkaPlusPlus.Pages.Reservations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a href="/Reservations/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].ReservationDate)<!--TODO: make proper display names?-->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].TimeStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].TimeEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].GameTable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].Member)<!--TODO: show members by ID-->
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Reservation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameTable.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.Id)
            </td>
            <td>
                <a asp-page="/Reservations/Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="/Reservations/Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="/Reservations/Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-page="/Index">Main page</a><!--nie wiem, czy Index to nie będzie logowanie-->
</p>